body{
    background-color: #15202B;
}

.link{ 
    color: #D9D9D9;
}

.navigation{
    border-right: 1px solid #616264;
}

.icon-mood{
    color: #E69C1C;
}

.head{
    background-color: #15202B;
}

.nav-text{
    color: #D9D9D9;
}

.active{
    color: #E69C1C;
}

.link:hover{
    color: #E69C1C;
    background-color: rgba(230, 156, 28,0.1);
}

.active:hover{
    background-color: rgba(230, 156, 28,0);
}

.profile:hover{
    background-color: rgba(230, 156, 28,0.1);
}

/* this is profile.html stylesheets */
.head{
    border-right: 1px solid #616264;
    border-bottom: 1px solid #616264;
}

.head-home{
    border-right: 1px solid #616264;
    border-bottom: 1px solid #616264;
}

.name{
    color: #D9D9D9;
}

.icon .fas{
    color: #E69C1C;
}

.icon .fas:hover{
    background: rgba(230, 156, 28,0.1);
}

.cover{
    border-right: 1px solid #616264;
}

.back-drop{
    background: rgba(0,0,0,0.3);
}

.profile-img img{
    border: 4px solid #15202B;
}

.information-profile{
    border-right: 1px solid #616264;
}

.contact a{
    color: #E69C1C;
}

.contact a:hover{
    color: #D9D9D9;
}

.email{
    color: #E69C1C;
    border: 2px solid #E69C1C;
}

.email:hover{
    color: #15202B;
    background-color: #E69C1C;
    border: 2px solid #E69C1C;
}

.information-name{
    color: #D9D9D9;
}

.navigation-profile{
    border-bottom: 1px solid #616264;
    border-right: 1px solid #616264;
}

.profile-link{
    color: #57737D;
}

.profile-link-active{
    color: #E69C1C;
    border-bottom: 2px solid #E69C1C;
}

.profile-link:hover{
    color: #E69C1C;
    background: rgba(230, 156, 28,0.1);
}

.information-name{
    border-right: 1px solid #616264;
}

.post{
    border-right: 1px solid #616264;
    border-bottom: 1px solid #616264;
}

.post-name{
    color: #D9D9D9;
}

.post-info{
    color: #D9D9D9;
}

.like{
    color: #6C757D;
}

.like div{
    color: #6C757D;
}

.like div:hover{
    color: #E69C1C;
}

.chat{
    background-color:#15202B ;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(255,255,255,0.2);
    -moz-box-shadow: 0px 0px 20px 0px rgba(255,255,255,0.2);
    box-shadow: 0px 0px 20px 0px rgba(255,255,255,0.2);
    color: #D9D9D9;
}

.chat-top{
    border-bottom: 1px solid #616264;
}

.chat-top-icon{
    color: #E69C1C;
}

.chat-bottom-card{
    border-bottom: 1px solid #616264;
}

.heag-home-topic{
    color: #E69C1C;
}

.home-head {
    color: #D9D9D9;
}

.container-home{
    border-right: 1px solid #616264;
    border-bottom: 1px solid #616264;
}

.code{
    background: #161B22; 
}

.let{
    color: #d73a49;
}

.sf{
    color: #005cc5;
}

.variable{
    color: #7f7f88;
} 

.value{
    color: #D9D9D9;
}

.home-pinned{
    border-right: 1px solid #616264;
}

.home-link{
    color: #0366d6;
}

.home-grid{
    border:1px solid #616264;
}

.home-container-grid{
    border-bottom: 1px solid #616264;
}

.hello{
    color: #E69C1C; 
}

input{
    background-color: #0d1822;
    color: #D9D9D9;
}

textarea{
    background-color: #0d1822;
    color: #D9D9D9;
}

.button div{
    color: #0d1822;
    background-color: #D9D9D9;
}

@media only screen and (max-width: 700px){
    .navigation{
        background-color: #15202B;
    }
}