body{
    background-color: #ffffff;
} 

.link{ 
    color: #0F1419;
}
 
.navigation{
    border-right: 1px solid #7f7f88;
}

.icon-mood{
    color: #FF5733;
} 

.head{
    background-color: #fff;
}

.nav-text{
    color: #0F1419;
}

.active{
    color: #FF5733;
}

.link:hover{
    color: #FF5733;
    background-color: rgba(230, 75, 28, 0.1);
}

.active:hover{
    background-color: rgba(230, 156, 28,0);
}

.profile:hover{
    background-color: rgba(230, 75, 28, 0.1);
}

/* this is profile.html stylesheets */
.head{
    border-right: 1px solid #7f7f88;
    border-bottom: 1px solid #7f7f88;
}

.head-home{
    border-right: 1px solid #7f7f88;
    border-bottom: 1px solid #7f7f88;
} 

.name{
    color: #0F1419;
}

.icon .fas{
    color: #0F1419;
}

.icon .fas{
    color: #FF5733;
}

.icon .fas:hover{
    background: rgba(230, 75, 28, 0.1);
}

.cover{
    border-right: 1px solid #7f7f88;
}

.profile-img img{
    border: 4px solid #ffffff;
}

.information-profile{
    border-right: 1px solid #7f7f88;
}

.contact a{
    color: #FF5733;
}

.contact a:hover{
    color: #0F1419;
}

.email{
    color: #FF5733;
    border: 2px solid #FF5733;
}

.email:hover{
    color: #ffffff;
    background-color: #FF5733;
    border: 2px solid #FF5733;
}

.information-name{
    color: #0F1419;
}

.navigation-profile{
    border-bottom: 1px solid #7f7f88;
    border-right: 1px solid #7f7f88;
}

.profile-link{
    color: #57737D;
}

.profile-link-active{
    color: #FF5733;
    border-bottom: 2px solid #FF5733;
}

.profile-link:hover{
    color: #FF5733;
    background: rgba(230, 75, 28, 0.1);
}

.information-name{
    border-right: 1px solid #7f7f88;
}

.post{
    border-right: 1px solid #7f7f88;
    border-bottom: 1px solid #7f7f88;
}

.post-name{
    color: #0F1419;
}

.post-info{
    color: #0F1419;
}

.like div{
    color: #6C757D;
}
 
.like div:hover{
    color: #FF5733;
}

.chat{
    background-color:#ffffff;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
    color: #0F1419;
}

.chat-top-icon{
    color: #FF5733;
}

.chat-top{
    border-bottom: 1px solid #7f7f88;
}

.chat-bottom-card{
    border-bottom: 1px solid #7f7f88;
}

.heag-home-topic{
    color: #FF5733;
}

.home-head {
    color: #0F1419;
}

.container-home{
    border-right: 1px solid #7f7f88;
    border-bottom: 1px solid #7f7f88;
}

.code{
    background: #F6F8FA; 
}

.let{
    color: #d73a49;
}

.sf{
    color: #005cc5;
}

.variable{
    color: #7f7f88;
}

.value{
    color: #032f62;
}

.home-pinned{
    border-right: 1px solid #7f7f88;
}

.home-link{
    color: #0366d6;
}

.home-grid{
    border:1px solid #7f7f88;
}

.home-container-grid{
    border-bottom: 1px solid #7f7f88;
}

.hello{
    color: #d73a49; 
}


input{
    background-color: #ebebeb;
    color: #0d1822;
}

textarea{
    background-color: #ebebeb;
    color: #0d1822;
}

.button div{
    background-color: #0d1822;
    color: #fff;
}

.navigation{
    background-color: #ebebeb;
}